<footer class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h2 class="footer-heading text-uppercase mb-4">About Rak3rman</h2>
                <p>Radison Akerman (RAk3rman) works to make his community a better place. If you put your mind to it,
                    you can achieve anything.</p>
            </div>
            <div class="col-md-3 ml-auto">
                <h2 class="footer-heading text-uppercase mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2 class="footer-heading text-uppercase mb-4">Connect with Rak3rman</h2>
                <p>
                    <a href="https://github.com/RAK3RMAN" class="p-2 pl-0"><i class="fab fa-github"></i></a>
                    <a href="https://www.facebook.com/RAkerman" class="p-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/rak3rman" class="p-2"><i class="fab fa-instagram"></i></a>
                    <a href="mailto:rak3rman@gmail.com" class="p-2"><i class="fas fa-envelope"></i></a>
                    <a href="tel:+1-815-687-0651" class="p-2"><i class="fas fa-phone"></i></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="border-top pt-5">
                    <p>
                        Copyright &copy; Radison Akerman
                        <script>document.write(new Date().getFullYear());</script>
                        | This website was based with <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.stellar.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/aos.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/moment.js"></script>