<!DOCTYPE html>
<html lang="en">
<head>
    <title>RAk3rman | Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="/assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/assets/css/aos.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
</head>
<body>
<div class="site-wrap">
    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <header class="site-navbar py-3" role="banner">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-11 col-xl-2">
                    <img src="/assets/images/logo-white.png" style="height: 100px" alt="logo">
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                            <li class="active"><a href="/">Error</a></li>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/projects">Projects</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li class="cta"><a href="https://beta.rak3rman.com">Login</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
            </div>
        </div>
    </header>
</div>
<div class="site-section site-hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10">
                <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="200"><%= error.statusCode %> Error</h1>
                <span class="d-block mb-5 caption" data-aos="fade-up" data-aos-delay="300"><%= error.message %></span>
                <a href="/" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Return Home</span></a>
            </div>
        </div>
    </div>
</div>
<footer class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h2 class="footer-heading text-uppercase mb-4">About RAk3rman</h2>
                <p>Radison Akerman (RAk3rman) works to make his community a better place. If you put your mind to it, you can achieve anything.</p>
            </div>
            <div class="col-md-3 ml-auto">
                <h2 class="footer-heading text-uppercase mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2 class="footer-heading text-uppercase mb-4">Connect with RAk3rman</h2>
                <p>
                    <a href="https://github.com/RAK3RMAN" class="p-2 pl-0"><i class="fab fa-github"></i></a>
                    <a href="https://www.facebook.com/RAkerman" class="p-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/rak3rman" class="p-2"><i class="fab fa-instagram"></i></a>
                    <a href="mailto:rak3rman@gmail.com" class="p-2"><i class="fas fa-envelope"></i></a>
                    <a href="tel:+1-815-687-0651" class="p-2"><i class="fas fa-phone"></i></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="border-top pt-5">
                    <p>
                        Copyright &copy; RAk3rman <script>document.write(new Date().getFullYear());</script> | This website was based with <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.stellar.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/aos.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>