<!DOCTYPE html>
<html lang="en">
<head>
    <title>RAk3rman | Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The personal portfolio for Radison Akerman | Hello there! I'm Radison Akerman, an avid computer science student and photographer who strives to make the world a better, more interesting place. Through every opportunity I apply creative and resourceful thinking, meticulous attention to detail, perseverance, and an ambitious drive to learn.">
    <meta name="keywords" content="rak3rman,Radison,Akerman,RadisonAkerman,RockfordIL,rockford,il,technology,design,coding">
    <meta name="author" content="Radison Akerman">
    <meta name="image" content="https://rak3rman.com/assets/images/logo-clear.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="/assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/assets/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="/assets/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
    <link rel="stylesheet" type="text/css" href="/assets/revolution/revolution-addons/typewriter/css/typewriter.css">
    <link rel="stylesheet" type="text/css" href="/assets/type/icons.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color/blue.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
</head>
<body>
<div class="content-wrapper">
    <div class="d-flex align-items-start flex-column h-100vh inverse-text text-center">
        <div class="mb-auto ml-auto mr-auto">
            <div class="container inner pt-50 pb-30">
                <div class="logo"> <a href="/"><img src="/assets/images/logo-white.png" width="150" alt="" /></a> </div>
            </div>
        </div>
        <div class="ml-auto mr-auto">
            <div class="h-100 d-flex flex-column justify-content-center inverse-text p-90 p-sm-0 text-center">
                <h1 class="heading text-center"><i class="fas fa-exclamation-triangle"></i> <%= error.statusCode %> Error</h1>
                <h2 class="sub-heading2"><%= error.message %></h2>
                <div class="space10"></div>
                <a href="https://www.rak3rman.com"><button class="btn btn-full-rounded btn-white"><i class="fas fa-share"></i> Return Home</button></a>
            </div>
        </div>
        <div class="mt-auto ml-auto mr-auto w-100">
            <div class="container inner pt-30 pb-40">
                <div class="space10"></div>
                <p>© <span id="year-cp"></span><script>var d = new Date();document.getElementById("year-cp").innerHTML = d.getFullYear()</script> Radison Akerman. All rights reserved.</p>
                <ul class="social social-bg social-s">
                    <li><a href="https://github.com/RAK3RMAN"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.facebook.com/RAkerman"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/rak3rman"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://500px.com/rak3rman"><i class="fab fa-500px"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/assets/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script>
<script src="/assets/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/scripts.js"></script>
<script>
    $.backstretch([
        "/assets/images/photos/img1.jpg"
        , "/assets/images/photos/img2.jpg"
        , "/assets/images/photos/img3.jpg"
        , "/assets/images/photos/img4.jpg"
    ], {duration: 10000, fade: 1000});
    $('.backstretch').css("filter", "brightness(50%)");
</script>
</body>
</html>