<!DOCTYPE html>
<html lang="en">
<head>
    <title>RAk3rman | Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RAk3rman | Hi! I'm Radison Akerman, an avid computer science student and photographer who strives to make the world a better, more interesting place. Through every opportunity I apply creative and resourceful thinking, meticulous attention to detail, perseverance, and an ambitious drive to learn.">
    <meta name="keywords" content="rak3rman,Radison,Akerman,rockford,il,technology,design,coding">
    <meta name="author" content="Radison Akerman">
    <meta name="image" content="https://rak3rman.com/assets/images/logo-clear.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="/assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/assets/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="/assets/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
    <link rel="stylesheet" type="text/css" href="/assets/revolution/revolution-addons/typewriter/css/typewriter.css">
    <link rel="stylesheet" type="text/css" href="/assets/type/icons.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color/navy.css">
    <link href='https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
</head>
<div class="page-loading">
    <div class="content-wrapper">
        <nav class="navbar transparent absolute nav-wrapper-dark inverse-text navbar-expand-lg text-uppercase">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand"><a href="index.html"><img src="#" srcset="/assets/images/logo-clear.png" style="width: 100px" alt="" /></a></div>
                </div>
            </div>
        </nav>
    </div>
    <div class="status">
        <div class="spinner"></div>
    </div>
</div>
<body class="onepage" data-spy="scroll" data-target=".navbar">
<div class="content-wrapper">
    <nav class="navbar transparent absolute nav-wrapper-dark inverse-text navbar-expand-lg text-uppercase">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand"><a href="index.html"><img src="#" srcset="/assets/images/logo-white.png" style="width: 100px" alt="" /></a></div>
                <div class="navbar-hamburger ml-auto d-lg-none d-xl-none"><button class="hamburger animate" data-toggle="collapse" data-target=".navbar-collapse"><span></span></button></div>
            </div>
            <!-- /.navbar-header -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link scroll" href="#home">Home</a></li>
                    <li class="nav-item"><a class="nav-link scroll" href="#about">About</a></li>
                    <li class="nav-item dropdown"><a class="nav-link scroll dropdown-toggle" href="#abilities">Portfolio</a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li class="nav-item"><a class="dropdown-item scroll" href="#abilities">Abilities & Skill-set</a></li>
                            <li class="nav-item"><a class="dropdown-item scroll" href="#experience">Experience</a></li>
                            <li class="nav-item"><a class="dropdown-item scroll" href="#projects">Projects</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link scroll" href="#photo">Photography</a></li>
                    <li class="nav-item"><a class="nav-link scroll" href="#contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.medium.com/@rak3rman" target="_blank">Blog</a></li>
                </ul>
                <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- /.navbar -->
    <section id="home" class="pt-0 mt-0">
        <div class="rev_slider_wrapper fullscreen-container">
            <div id="slider" class="rev_slider fullscreenbanner bg-dark" data-version="5.4.7">
                <ul>
                    <li data-transition="fade" data-thumb="/assets/images/photos/img5.jpg"><img src="/assets/images/photos/img5.jpg" alt="" /></li>
                    <li data-transition="fade" data-thumb="/assets/images/photos/img1.jpg"><img src="/assets/images/photos/img1.jpg" alt="" /></li>
                    <li data-transition="fade" data-thumb="/assets/images/photos/img7.jpg"><img src="/assets/images/photos/img7.jpg" alt="" /></li>
                </ul>
                <div class="tp-static-layers">
                    <div class="tp-caption tp-static-layer font-weight-500 text-uppercase color-white text-center"
                         data-x="center"
                         data-y="middle"
                         data-voffset="['-110','-110','-110','-110']"
                         data-fontsize="['16','16','16','16']"
                         data-lineheight="['26','26','26','26']"
                         data-width="['600','600','600','600']"
                         data-textAlign="['center','center','center','center']"
                         data-whitespace="['normal','normal','normal','normal']"
                         data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-startslide="0"
                         data-endslide="3"
                         data-responsive="on"
                         data-responsive_offset="on"
                         style="z-index: 9; letter-spacing: 3px;">I'm Radison Akerman</div>
                    <div class="tp-caption tp-static-layer font-weight-700 color-white text-center"
                         data-x="center"
                         data-y="middle"
                         data-voffset="['-5','-5','-5','-5']"
                         data-fontsize="['55','55','45','45']"
                         data-lineheight="['70','70','60','60']"
                         data-width="['900','900','700','700']"
                         data-textAlign="['center','center','center','center']"
                         data-whitespace="['normal','normal','normal','normal']"
                         data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-startslide="0"
                         data-endslide="3"
                         data-responsive="on"
                         data-responsive_offset="on"
                         style="z-index: 9; letter-spacing: -0.5px;">Thinker. Coder. <br>Doer.</div>
                    <a class="tp-caption tp-static-layer btn btn-full-rounded btn-l btn-white scroll"
                       data-x="center"
                       data-y="middle"
                       data-voffset="['130','130','130','130']"
                       data-width="['auto','auto','auto','auto']"
                       data-textAlign="['center','center','center','center']"
                       data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                       data-startslide="0"
                       data-endslide="3"
                       data-responsive="on"
                       data-responsive_offset="on"
                       style="z-index: 9;" href="#abilities">See My Portfolio</a> </div>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
            <!-- /.rev_slider -->
        </div>
        <!-- /.rev_slider_wrapper -->
    </section>
    <!-- /section -->
    <section id="about">
        <div class="wrapper dark-wrapper inverse-text">
            <div class="container inner">
                <div class="space20"></div>
                <div class="row">
                    <div class="col-lg-5 text-md-center">
                        <figure><img src="/assets/images/rak3rmanalt.jpg" width="90%" alt="" /></figure>
                    </div>
                    <!-- /column -->
                    <div class="space30 d-lg-none d-xl-none"></div>
                    <div class="col-lg-7">
                        <div class="space10"></div>
                        <h1>Radison Akerman</h1>
                        <h3>A Computer Science Student and Learner</h3>
                        <p class="lead larger">Hi! I'm Radison Akerman, an avid computer science student and photographer who strives to make the world a better, more interesting place. Through every opportunity I apply creative and resourceful thinking, meticulous attention to detail, perseverance, and an ambitious drive to learn.</p>
                        <ul class="social social-mute social-s">
                            <li><a href="https://www.medium.com/@rak3rman"><i class="fab fa-medium-m"></i></a></li>
                            <li><a href="https://github.com/RAK3RMAN"><i class="fab fa-github"></i></a></li>
                            <li><a href="https://500px.com/rak3rman"><i class="fab fa-500px"></i></a></li>
                            <li><a href="https://www.facebook.com/RAkerman"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/rak3rman"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.twitter.com/rak3rman"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                        <div class="space30"></div>
                        <a href="#contact" class="btn btn-icon btn-icon-left btn-white scroll"><i class="fa fa-paper-plane"></i>Contact</a> <a href="#abilities" class="btn btn-icon btn-icon-left btn-white btn-border scroll"><i class="fas fa-user-tie"></i>Portfolio</a>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
        <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/assets/images/photos/img6.jpg">
            <div class="container inner pt-150 pb-150">
                <h2 class="sub-heading text-center">"Give someone a problem, frustrate them for a day. Teach someone how to code, frustrate them for a lifetime." - Radison Akerman</h2>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <section id="abilities">
        <div class="wrapper dark-wrapper inverse-text">
            <div class="container inner pb-0">
                <h2 class="section-title section-title-upper">Portfolio</h2>
                <h2 class="sub-heading">Abilities & Skill-set</h2>
                <div class="space20"></div>
                <div class="row">
                    <div class="col-md-4 mb-0" data-aos="fade-right">
                        <h4 class="section-title section-title-upper">Abilities</h4>
                        <p class="lead p-0 m-0">Computer Science</p>
                        <ul class="icon-list">
                            <li><i class="fa fa-angle-right"></i>Interests</li>
                            <li><i class="fa fa-angle-right pl-4"></i>Cybersecurity</li>
                            <li><i class="fa fa-angle-right pl-4"></i>IoT Devices Development</li>
                            <li><i class="fa fa-angle-right pl-4"></i>Artificial Intelligence Platforms</li>
                            <li><i class="fa fa-angle-right pl-4"></i>Automation Systems</li>
                            <li><i class="fa fa-angle-right"></i>Languages</li>
                            <li><i class="fab fa-html5 pl-4"></i> HTML5 / <i class="fab fa-css3"></i>CSS3 / <i class="fab fa-sass pl-"></i>SASS</li>
                            <li><i class="fab fa-js pl-4"></i> JavaScript</li>
                            <li><i class="fab fa-python pl-4"></i> Python</li>
                            <li><i class="fas fa-code pl-4"></i> C++</li>
                            <li><i class="fas fa-terminal pl-4"></i> Bash</li>
                            <li><i class="fab fa-apple pl-4"></i> Swift (Learning)</li>
                            <li><i class="fa fa-angle-right"></i>Platforms</li>
                            <li><i class="fas fa-server pl-4"></i> pfSense</li>
                            <li><i class="fas fa-video pl-4"></i> Genetec</li>
                            <li><i class="fab fa-node-js pl-4"></i> Node.js</li>
                            <li><i class="fas fa-database pl-4"></i> MongoDB / SQL</li>
                            <li><i class="fab fa-react pl-4"></i> React.js (Learning)</li>
                            <li><i class="fa fa-angle-right"></i>Environments</li>
                            <li><i class="fab fa-linux pl-4"></i> Linux</li>
                            <li><i class="fab fa-windows pl-4"></i> Windows</li>
                        </ul>
                    </div>
                    <!-- /column -->
                    <div class="col-md-4" data-aos="fade-right" data-aos-delay="400">
                        <p class="lead p-0 m-0 mt-2">Graphics</p>
                        <ul class="icon-list">
                            <li><i class="fa fa-angle-right"></i>Photographer</li>
                            <li><i class="fa fa-angle-right pl-4"></i>Landscape</li>
                            <li><i class="fa fa-angle-right pl-4"></i>Portrait</li>
                            <li><i class="fa fa-angle-right pl-4"></i>Sports</li>
                            <li><i class="fa fa-angle-right"></i>Videographer</li>
                            <li><i class="fa fa-angle-right"></i>Graphic Design</li>
                            <li><i class="fa fa-angle-right pl-4"></i>Website Developer</li>
                            <li><i class="fa fa-angle-right pl-4"></i>Logos / Business Cards</li>
                            <li><i class="fa fa-angle-right pl-4"></i>Social Media Management</li>
                            <li><i class="fa fa-angle-right pl-4"></i>Stationary</li>
                            <li><i class="fa fa-angle-right pl-4"></i>Advertisements</li>
                        </ul>
                        <p class="lead p-0 m-0 mt-2">IT Trades/Experience</p>
                        <ul class="icon-list">
                            <li><i class="fa fa-angle-right"></i>Network Management</li>
                            <li><i class="fa fa-angle-right"></i>Camera Management/Installation</li>
                            <li><i class="fa fa-angle-right"></i>Access Control Management</li>
                            <li><i class="fa fa-angle-right"></i>Project Organization</li>
                        </ul>
                        <p class="lead p-0 m-0 mt-2">Business</p>
                        <ul class="icon-list">
                            <li><i class="fa fa-angle-right"></i>Business Management</li>
                            <li><i class="fa fa-angle-right"></i>Graphic Design</li>
                            <li><i class="fa fa-angle-right"></i>Project Development</li>
                        </ul>
                    </div>
                    <!-- /column -->
                    <div class="col-md-4" data-aos="fade-right" data-aos-delay="800">
                        <h4 class="section-title section-title-upper">Skill-set Distribution</h4>
                        <ul class="progress-list">
                            <li>
                                <p>Networking</p>
                                <div class="progressbar line blue" data-value="70"></div>
                            </li>
                            <li>
                                <p>Systems Management</p>
                                <div class="progressbar line green" data-value="75"></div>
                            </li>
                            <li>
                                <p>Technical Trades</p>
                                <div class="progressbar line yellow" data-value="85"></div>
                            </li>
                            <li>
                                <p>Web Design</p>
                                <div class="progressbar line red" data-value="90"></div>
                            </li>
                            <li>
                                <p>Graphic Design</p>
                                <div class="progressbar line orange" data-value="95"></div>
                            </li>
                            <li>
                                <p>Photography/Videography</p>
                                <div class="progressbar line white" data-value="80"></div>
                            </li>
                            <li>
                                <p>Business</p>
                                <div class="progressbar line navy" data-value="65"></div>
                            </li>
                        </ul>
                        <!-- /.progress-list -->
                        <h4 class="section-title section-title-upper pt-4">Certifications</h4>
                        <ul class="icon-list">
                            <li><i class="fa fa-check"></i>CompTIA A+ | Training in progress</li>
                            <li><i class="fa fa-check"></i>CompTIA Linux+ | Training in progress</li>
                            <li><i class="fa fa-check"></i>CompTIA CySA+ | Training in progress</li>
                        </ul>
                    </div>
                    <!-- /column -->
                </div>
                <div class="space40"></div>
                <h3 class="mb-40 text-left" data-aos="fade-right">My Process</h3>
                <div class="row gutter-50 gutter-md-30 process-wrapper arrow text-center" data-aos="fade-right">
                    <div class="col-md-3"> <span class="icon icon-bg bg-default mb-20"><span class="number">01</span></span>
                        <h5>Concept</h5>
                        <p>Generate and propose a plan of action based on the initial requests and constraints.</p>
                    </div>
                    <!--/column -->
                    <div class="col-md-3"> <span class="icon icon-bg bg-default mb-20"><span class="number">02</span></span>
                        <h5>Prepare</h5>
                        <p>Design final concept and display possible examples.</p>
                    </div>
                    <!--/column -->
                    <div class="col-md-3"> <span class="icon icon-bg bg-default mb-20"><span class="number">03</span></span>
                        <h5>Create</h5>
                        <p>Craft a superb product to the highest caliber possible.</p>
                    </div>
                    <!--/column -->
                    <div class="col-md-3"> <span class="icon icon-bg bg-default mb-20"><span class="number">04</span></span>
                        <h5>Finalize</h5>
                        <p>Add final touches and complete any tasks to go that extra mile.</p>
                    </div>
                    <!--/column -->
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <section id="experience">
        <div class="wrapper dark-wrapper inverse-text">
            <div class="container inner pb-0">
                <h2 class="section-title section-title-upper">Portfolio</h2>
                <h2 class="sub-heading">Experience</h2>
                <div class="space20"></div>
                <div class="row">
                    <div class="col-lg-6" data-aos="fade-right">
                        <h4>Professional Experience</h4>
                        <div class="space10"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <figure><img src="/assets/images/montel.jpg" alt="Montel Technologies"></figure>
                            </div>
                            <div class="col-md-8 mt-0">
                                <h3 class="mb-1">Montel Technologies LLC</h3>
                                <p class="lead m-0">Software Development Intern | 2017-2018</p>
                                <p>During the course of this
                                    internship, I helped to develop a powerful web software designed to be an all in one
                                    solution to custom security applications. By interacting with high-value clients and
                                    working with the R&amp;D team, I took part in changing the technological industry where I
                                    gained years of experience. In addition, I learned how to become a valuable IT
                                    technician and became well versed with project design, Linux &amp; Windows environments, and
                                    web development skills.</p>
                            </div>
                            <!-- /column -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!--/column -->
                    <div class="space30 d-lg-none d-xl-none"></div>
                    <div class="col-lg-6" data-aos="fade-right" data-aos-delay="400">
                        <h4>Education</h4>
                        <div class="space10"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <figure><img src="/assets/images/auburn.jpg" alt="Auburn High School"></figure>
                            </div>
                            <div class="col-md-8 mt-0">
                                <h3 class="mb-1">Auburn High School</h3>
                                <p class="lead m-0">Rockford, Illinois | Projected Graduation Date: May 2020</p>
                                <ul class="icon-list">
                                    <li><i class="fa fa-angle-right"></i>Gifted Program Seal, nationally accredited program</li>
                                    <li><i class="fa fa-angle-right"></i>Related Classes: AP Calculus AB, AP Physics C, PLTW Cybersecurity, AP Macro/Micro Economics, & AP Statistics</li>
                                </ul>
                            </div>
                            <!-- /column -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!--/column -->
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <section id="projects">
        <div class="wrapper dark-wrapper inverse-text">
            <div class="container inner">
                <h2 class="section-title section-title-upper">Portfolio</h2>
                <h2 class="sub-heading">Projects</h2>
                <div class="space20"></div>
                <h4 data-aos="fade-right">Professional projects</h4>
                <div class="space10"></div>
                <div class="row pb-4" data-aos="fade-right">
                    <div class="col-md-4 order-md-2">
                        <div class="box h-100 d-flex flex-column justify-content-center p-0">
                            <figure class="overlay overlay1"><a href="https://monteltech.com"><span class="bg"></span><img src="/assets/images/mtop.png" alt=""></a></figure>
                        </div>
                    </div>
                    <!--/column -->
                    <div class="col-md-8">
                        <div class="box h-100 d-flex flex-column justify-content-center p-0">
                            <h3 class="mb-1">MTOP | Montel Technologies Operations Portal</h3>
                            <p class="lead m-0">Montel Technologies LLC | <a href="https://monteltech.com" class="hover text-white"><i class="fas fa-external-link-square-alt"></i> Website</a></p>
                            <p>During the course of this project, I crafted the front-end interface for an enterprise grade security solution using the NodeJS framework. MTOP absorbs a commercial security system and ties all available components together into a cohesive and fluid platform that uses AI and ML to drive intelligent decisions. Being at ground zero of the project, I founded the user experience that is in the hands of the Chicago and Rockford Police Departments, and across the nation though ABC Supply.</p>
                        </div>
                    </div>
                    <!--/column -->
                </div>
                <div class="row pb-4" data-aos="fade-left" data-aos-delay="200">
                    <div class="col-md-4">
                        <div class="box h-100 d-flex flex-column justify-content-center p-0">
                            <figure class="overlay overlay1"><a href="https://github.com/RAK3RMAN/rak3rman-profile"><span class="bg"></span><img src="/assets/images/logo-white-stretched.png" alt=""></a></figure>
                        </div>
                    </div>
                    <!--/column -->
                    <div class="col-md-8">
                        <div class="box h-100 d-flex flex-column justify-content-center p-0">
                            <h3 class="mb-1">RAk3rman Profile</h3>
                            <p class="lead m-0"><img class="pr-2" src="https://img.shields.io/badge/language-HTML/NodeJS-informational.svg?style=flat" alt="Type"><img src="https://travis-ci.org/RAK3RMAN/rak3rman-profile.svg?branch=master" alt="Status"> | <a href="https://github.com/RAK3RMAN/rak3rman-profile" class="hover text-white"><i class="fab fa-github"></i> Github Repository</a></p>
                            <p>You are seeing it right here! This website is running on NodeJS, of which the primary backend structure was derived from my personal template <a href="https://github.com/RAK3RMAN/base-webframework-nodejs" class="hover">found here!</a> I hope you enjoy this site as much as I did making it. Welcome to the personal profile for Radison Akerman.</p>
                        </div>
                    </div>
                    <!--/column -->
                </div>
                <h4 data-aos="fade-right" data-aos-delay="400">Open-source coding projects</h4>
                <div class="space10"></div>
                <div class="row pb-4" data-aos="fade-right" data-aos-delay="400">
                    <div class="col-md-4 order-md-2">
                        <div class="box h-100 d-flex flex-column justify-content-center p-0">
                            <figure class="overlay overlay1"><a href="https://github.com/RAK3RMAN/rratfr-manager"><span class="bg"></span><img src="/assets/images/rratfr.png" alt=""></a></figure>
                        </div>
                    </div>
                    <!--/column -->
                    <div class="col-md-8">
                        <div class="box h-100 d-flex flex-column justify-content-center p-0">
                            <h3 class="mb-1">Rock River Anything That Floats Race Manager</h3>
                            <p class="lead m-0"><img class="pr-2" src="https://img.shields.io/badge/language-NodeJS-informational.svg?style=flat" alt="Type"><img src="https://travis-ci.org/RAK3RMAN/rratfr-manager.svg?branch=master" alt="Status"> | <a href="https://github.com/RAK3RMAN/rratfr-manager" class="hover text-white"><i class="fab fa-github"></i> Github Repository</a></p>
                            <p>This project was created to streamline the organizational efforts of the Rock River Anything That Floats Race. Running on NodeJS, this project displays a powerful web interface where administrators can manage raft information, conduct raft timing, and display results to the public. A smart timing plugin and a custom web voting limiter for the People's Choice Award were both built in-house and from scratch by myself. This manager is now live at <a href="rratfr.rak3rman.com" class="hover">rratfr.rak3rman.com</a> and has been in use since 2019.</p>
                        </div>
                    </div>
                    <!--/column -->
                </div>
                <div class="row pb-4" data-aos="fade-left" data-aos-delay="600">
                    <div class="col-md-4">
                        <div class="box h-100 d-flex flex-column justify-content-center p-0">
                            <figure class="overlay overlay1"><a href="https://github.com/RAK3RMAN/lema"><span class="bg"></span><img src="/assets/images/lema.png" alt=""></a></figure>
                        </div>
                    </div>
                    <!--/column -->
                    <div class="col-md-8">
                        <div class="box h-100 d-flex flex-column justify-content-center p-0">
                            <h3 class="mb-1">Lema</h3>
                            <p class="lead m-0"><img class="pr-2" src="https://img.shields.io/badge/language-NodeJS-informational.svg?style=flat" alt="Type"><img src="https://travis-ci.org/RAK3RMAN/lema.svg?branch=master" alt="Status"> | <a href="https://github.com/RAK3RMAN/lema" class="hover text-white"><i class="fab fa-github"></i> Github Repository</a></p>
                            <p>Lema aims to provide a cohesive and powerful solution to interacting with the Raspberry Pi's GPIO capabilities. The Lema Agent runs on the Raspberry Pi and communicates with the Lema Console, which provides a GUI webpage and API pathways for external integration. The entire framework for this project was created from scratch by myself.</p>
                        </div>
                    </div>
                    <!--/column -->
                </div>
            <!-- /.container -->
            </div>
        </div>
    </section>
    <section id="photo">
        <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/assets/images/photos/img2.jpg">
            <div class="container inner">
                <img src="/assets/images/rakermanphotowhite.png" alt="">
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <div class="wrapper dark-wrapper inverse-text pb-4">
            <div class="container inner">
                <div class="space20"></div>
                <div class="row">
                    <div class="col-lg-5 text-md-center">
                        <figure><img src="/assets/images/rak3rmanphoto.jpg" width="90%" alt="" /></figure>
                    </div>
                    <!-- /column -->
                    <div class="space30 d-lg-none d-xl-none"></div>
                    <div class="col-lg-7">
                        <div class="space10"></div>
                        <h3>Why RAkerman Photography?</h3>
                        <p><span class="dropcap color-blue">P</span>hotography is a way to tell a story that cannot be explained with words. It helps us understand what our lives mean to us by freezing a moment in time. Ever since I was a child, I was fascinated with cameras and experimented everywhere on anything. This manifested into an endless passion that I hope to apply to capture your priceless moments.</p>
                        <blockquote class="icon icon-left">
                            <p>To me, photography is an art of observation. It’s about finding something interesting in an ordinary place… I’ve found it has little to do with the things you see and everything to do with the way you see them.</p>
                            <footer class="blockquote-footer">Elliott Erwitt</footer>
                        </blockquote>
                        <a href="#contact" class="btn btn-icon btn-icon-left btn-white scroll"><i class="fa fa-paper-plane"></i>Contact</a> <a href="#abilities" class="btn btn-icon btn-icon-left btn-white btn-border scroll"><i class="fas fa-user-tie"></i>Portfolio</a>
                    </div>
                    <!-- /column -->
                </div>
            </div>
                <div class="container inner pt-0 pb-0">
                    <h2 class="section-title mb-40 text-center">Photography Services</h2>
                    <div class="tiles">
                        <div class="items row">
                            <div class="item col-md-6">
                                <figure class="overlay-info"><img src="/assets/images/photos/img3.jpg" alt="">
                                    <figcaption class="d-flex">
                                        <div class="align-self-center mx-auto">
                                            <h4 class="mb-0 text-uppercase letterspace-4">Landscape</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <!--/.item -->
                            <div class="item col-md-6">
                                <figure class="overlay-info"><img src="/assets/images/photos/img26.jpg" alt="">
                                    <figcaption class="d-flex">
                                        <div class="align-self-center mx-auto">
                                            <h4 class="mb-0 text-uppercase letterspace-4">Portraits</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <!--/.item -->
                            <div class="item col-md-4">
                                <figure class="overlay-info"><img src="/assets/images/photos/img15.jpg" alt="">
                                    <figcaption class="d-flex">
                                        <div class="align-self-center mx-auto">
                                            <h4 class="mb-0 text-uppercase letterspace-4">Events</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <!--/.item -->
                            <div class="item col-md-4">
                                <figure class="overlay-info"><img src="/assets/images/photos/img23.jpg" alt="">
                                    <figcaption class="d-flex">
                                        <div class="align-self-center mx-auto">
                                            <h4 class="mb-0 text-uppercase letterspace-4">Aerial</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <!--/.item -->
                            <div class="item col-md-4">
                                <figure class="overlay-info"><img src="/assets/images/photos/img29.jpg" alt="">
                                    <figcaption class="d-flex">
                                        <div class="align-self-center mx-auto">
                                            <h4 class="mb-0 text-uppercase letterspace-4">Sports</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <!--/.item -->
                        </div>
                        <!--/.row -->
                    </div>
                    <!-- /.tiles -->
                </div>
                <h2 class="section-title section-title-upper text-center" style="padding-top: 80px">Selected Works</h2>
                <div class="space20"></div>
                <div id="cube-grid-large-filter" class="cbp-filter-container text-center">
                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
                    <div data-filter=".land" class="cbp-filter-item">Landscape</div>
                    <div data-filter=".port" class="cbp-filter-item">Portrait</div>
                    <div data-filter=".sport" class="cbp-filter-item">Sports</div>
                    <div data-filter=".other" class="cbp-filter-item">Other</div>
                </div>
                <div class="clearfix"></div>
                <div class="space20"></div>
                <div id="cube-grid-large" class="cbp light-gallery">
                    <div class="cbp-item port">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img1.jpg"><img src="/assets/images/photos/img1.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img2.jpg"><img src="/assets/images/photos/img2.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img3.jpg"><img src="/assets/images/photos/img3.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img4.jpg"><img src="/assets/images/photos/img4.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img24.jpg"><img src="/assets/images/photos/img24.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img25.jpg"><img src="/assets/images/photos/img25.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item port sport">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img34.jpg"><img src="/assets/images/photos/img34.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item port">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img5.jpg"><img src="/assets/images/photos/img5.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item port">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img27.jpg"><img src="/assets/images/photos/img27.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img30.jpg"><img src="/assets/images/photos/img30.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item port">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img6.jpg"><img src="/assets/images/photos/img6.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item port">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img7.jpg"><img src="/assets/images/photos/img7.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img14.jpg"><img src="/assets/images/photos/img14.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img8.jpg"><img src="/assets/images/photos/img8.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img9.jpg"><img src="/assets/images/photos/img9.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img10.jpg"><img src="/assets/images/photos/img10.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img11.jpg"><img src="/assets/images/photos/img11.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img12.jpg"><img src="/assets/images/photos/img12.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img13.jpg"><img src="/assets/images/photos/img13.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item sport">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img32.jpg"><img src="/assets/images/photos/img32.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item other">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img22.jpg"><img src="/assets/images/photos/img22.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img23.jpg"><img src="/assets/images/photos/img23.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item sport">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img15.jpg"><img src="/assets/images/photos/img15.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item other">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img16.jpg"><img src="/assets/images/photos/img16.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img17.jpg"><img src="/assets/images/photos/img17.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item port">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img26.jpg"><img src="/assets/images/photos/img26.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img18.jpg"><img src="/assets/images/photos/img18.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img19.jpg"><img src="/assets/images/photos/img19.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img20.jpg"><img src="/assets/images/photos/img20.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img21.jpg"><img src="/assets/images/photos/img21.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item sport">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img28.jpg"><img src="/assets/images/photos/img28.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item sport">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img29.jpg"><img src="/assets/images/photos/img29.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item land">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img31.jpg"><img src="/assets/images/photos/img31.jpg" alt="" /></a></figure>
                    </div>
                    <div class="cbp-item port sport">
                        <figure class="overlay overlay2"><a href="/assets/images/photos/img33.jpg"><img src="/assets/images/photos/img33.jpg" alt="" /></a></figure>
                    </div>
                    <!--/.cbp-item -->
                </div>
                <!--/.cbp -->
            </div>
        <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/assets/images/photos/img23.jpg">
            <div class="container inner pt-150 pb-150">
                <h2 class="heading text-center">Inspired by purpose.<br class="d-none d-xl-block" />
                    Driven by passion.</h2>
            </div>
            <!-- /.container -->
        </div>
            <!-- /.container -->
    </section>
    <section id="contact">
        <!-- /.wrapper -->
        <div class="wrapper dark-wrapper inverse-text">
            <div class="container inner">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h2 class="section-title section-title-upper text-center">Get in Touch</h2>
                        <p class="text-center">Got an inquiry? Feel free to contact me anytime in the form below or using the chat box in the lower right. I will get back to you as soon as possible. Professional inquiries only.</p>
                        <div class="space20"></div>
                        <div class="form-container">
                            <form action="https://formspree.io/xyyydown" method="POST" novalidate>
                                <div class="row text-center">
                                    <div class="col-md-6 pr-10">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" placeholder="Your name" required="required">
                                        </div>
                                        <!--/.form-group -->
                                    </div>
                                    <!--/column -->
                                    <div class="col-md-6 pl-10">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" placeholder="Your e-mail" required="required">
                                        </div>
                                        <!--/.form-group -->
                                    </div>
                                    <!--/column -->
                                    <div class="col-md-6 pr-10">
                                        <div class="form-group">
                                            <input type="tel" class="form-control" name="tel" placeholder="Phone">
                                        </div>
                                        <!--/.form-group -->
                                    </div>
                                    <!--/column -->
                                    <div class="col-md-6 pl-10">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="subject" placeholder="Subject">
                                        </div>
                                        <!--/.form-group -->
                                    </div>
                                    <!--/column -->
                                    <div class="col-12">
                                        <textarea name="message" class="form-control" rows="3" placeholder="Type your message here..." required></textarea>
                                        <div class="space20"></div>
                                        <button type="submit" class="btn btn-full-rounded">Submit</button>
                                        <footer class="notification-box"></footer>
                                    </div>
                                    <!--/column -->
                                </div>
                                <!--/.row -->
                            </form>
                            <!--/.vanilla-form -->
                        </div>
                        <!--/.form-container -->
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <!-- /section -->
    <footer class="dark-wrapper inverse-text">
        <div class="sub-footer">
            <div class="container inner text-center"> <img src="#" srcset="/assets/images/logo-white.png" style="width: 100px" alt="" />
                <div class="space25"></div>
                <p>© 2019 Radison Akerman. All rights reserved.</p>
                <div class="space30"></div>
                <ul class="social social-bg social-s">
                    <li><a href="https://www.medium.com/@rak3rman"><i class="fab fa-medium-m"></i></a></li>
                    <li><a href="https://github.com/RAK3RMAN"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://500px.com/rak3rman"><i class="fab fa-500px"></i></a></li>
                    <li><a href="https://www.facebook.com/RAkerman"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/rak3rman"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.twitter.com/rak3rman"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.sub-footer -->
    </footer>
</div>
<!-- /.content-wrapper -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/assets/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script>
<script src="/assets/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems! The following part can be removed on Server for On Demand Loading) -->
<script src="/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/scripts.js"></script>
<script src="//code.tidio.co/8ouoqya9aegr9q1hyvrkm0kfdohc1fmw.js" async> </script>
</body>
</html>