<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">
<body style="margin: 0; background: grey">
    <img style="-webkit-user-select: none;" src="/assets/<%= file %>" alt="">
</body>
</html>